main {
    padding: 2%;
    background: repeating-linear-gradient(
        45deg,
        rgb(250, 250, 250),
        rgb(250, 250, 250) 5px,
        #ffffff 5px,
        #ffffff 10px
    );

    background-attachment: fixed;
}

main h1 {
    font-size: 9vw;
    font-weight: bold;
    font-style: italic;
    color: rgb(35, 156, 162);
    margin: 3%;
    text-align: center;
    background-color: transparent;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

main figure {
    width: 96%;
    margin: 2%;
    position: relative;
    overflow: hidden;
}

main figure img {
    width: 100%;
    vertical-align: middle;
}

main figure figcaption {
    position: absolute;
    bottom: 0;
    padding: 2vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    font-size: 2.6vh;
}

main figure figcaption:hover {
    background-color: rgba(0, 0, 0, 1);
}

/** BIGGER SCREEN **/
@media screen and (min-width: 700px) {
    
    main {
        background: repeating-linear-gradient(
            45deg,
            rgb(250, 250, 250),
            rgb(250, 250, 250) 10px,
            #ffffff 10px,
            #ffffff 15px
        );

        background-attachment: fixed;
    }

    main figure {
        float: left;
        width: 48%;
        margin: 1%;
        vertical-align: top;
    }

    main h1 {
        font-size: 6vw;
        margin: 2% 0;
    }
}

