
/* slide show  */
#slide-show {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#slide-show figure {
    height: 100%;
    max-width: 100%;
}

#slide-show figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    margin-top: 4vh;

}

#slide-show figure.hidden {
    display: none;
}

#slide-show figure.actual {
    display: block;
    animation: fade 7s;
}

/* image fade in e out  */
@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

/* dots under the slides  */
#slide-show .slides {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

/* dots under the slides  */
#slide-show .slides button {
    display: inline-block;
    border: none;
    border-radius: 50%;
    padding: 2px;
} 

#slide-show .slides button.hidden {
    background-color: rgba(255, 255, 255, 0.5);
}

#slide-show .slides button.actual {
    background-color: white;
}

#slide-show div.title {
    z-index: 2;
    margin: auto 0;
    width: 100%;
    height: 40vh;
    text-align: center;
    color: white;
    font-family: 'UnifrakturMaguntia', cursive;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#slide-show div.title #testo1{
    color: rgb(35, 156, 162);
}

#slide-show div.title #testo2{
    color: rgb(255, 255, 255);
}

/* #slide-show div.title #testo1:hover{
    transition: 1s;
    padding-left: 50%;
}

#slide-show div.title #testo2:hover{
    transition: 1s;
    padding-right: 50%;
} */


/** WELCOME SECTION **/

section#welcome {
    margin-top: 4vh;
    width: 100%;
    background-color: white;
}

section#welcome div#presentation {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    padding: 3%;
    margin: auto 0;
}

section#welcome div#presentation p {
    font-size: 7.5vw;
    text-align: center;
    margin: 3% 0 1% 0;
}

section#welcome div#presentation p:nth-of-type(-n+2) {
    font-style: italic;
}

section#welcome div#presentation p:first-of-type {
    color: rgb(35, 156, 162);

    font-weight: bold;
    font-size: 4.5vw;
}

section#welcome div#presentation p:nth-of-type(2) {
    font-weight: bolder;
}

section#welcome div#presentation p:nth-of-type(3) {
    font-size: 4vw;
}

section#welcome div#presentation p:last-of-type {
    font-weight: 300;
    font-size: 3.5vw;
}

a.action-button {
    display: inline-block;
    font-size: 3vh;
    padding: 3vh;
    color: rgb(35, 156, 162);
    background-color: white;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a.action-button:hover {
    background-color: rgb(35, 156, 162);
    border-radius: 25px;
    color: white;
}

/** NEWS SECTION**/

section#news {
    margin-top: 4vh;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    width: 100%;
    padding: 2% 3%;

    background: repeating-linear-gradient(
        45deg,
        rgb(0, 0, 0),
        rgb(0, 0, 0) 5px,
        #000000 5px,
        #000000 10px
    );
}

section#news article,
section#news article a,
section#news article figure {
    display: inline-block;
    width: 100%;
}

/* rende blocchi news mobili per animazione  */
section#news article {
    position: relative;
    opacity: 1;

}

section#news article figure {
    vertical-align: middle;
}

section#news h2 {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin: 2% 0;
    text-align: center;
}

section#news article {
    margin: 2% 0;
    background-color: white;
    border: 1px solid rgb(192, 192, 192);
}

section#news article figure * {
    display: block;
    float: left;
    width: 50%;
}

section#news article figure figcaption {
    font-size: 3vh;
    font-weight: bold;
    padding: 2%;
}

section a.view-all {
    display: block;
    width: 130px;
    padding: 15px 0;
    margin: 0 0 0 auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: rgb(35, 156, 162);
}

section a {
    color: black;
    text-decoration: none;
}

section a:hover {
    color: rgb(35, 156, 162);
}


/** BLOG SECTION**/

section#blog {
    margin-top: 4vh;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    width: 100%;
    padding: 2% 3%;

    background: repeating-linear-gradient(
        45deg,
        rgb(0, 0, 0),
        rgb(0, 0, 0) 5px,
        #000000 5px,
        #000000 10px
    );
}

section#blog article,
section#blog article a,
section#blog article figure {
    display: inline-block;
    width: 100%;
}

/* rende blocchi blog mobili per animazione  */
section#blog article {
    position: relative;

}

section#blog article figure {
    vertical-align: middle;
}

section#blog h2 {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin: 2% 0;
    text-align: center;
}

section#blog article {
    margin: 2% 0;
    background-color: white;
    border: 1px solid rgb(192, 192, 192);
}

section#blog article figure * {
    display: block;
    float: left;
    width: 50%;
}

section#blog article figure figcaption {
    font-size: 3vh;
    font-weight: bold;
    padding: 2%;
}

section a.view-all {
    display: block;
    width: 130px;
    padding: 15px 0;
    margin: 0 0 0 auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: rgb(35, 156, 162);
}

section a {
    color: black;
    text-decoration: none;
}

section a:hover {
    color: rgb(35, 156, 162);
}


/** CONTACT US SECTION **/

section#contact-us {
    padding: 30vh 0;
    background-image: url("../images/contact-us-background.png");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section#contact-us div {
    margin: auto;
    text-align: center;
    width: 95%;
}

section#contact-us div h2 {
    font-style: italic;
    font-weight: bold;
    font-size: 5vh;
    margin-bottom: 20px;
    color:black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    vertical-align: middle;
}

section#contact-us div .action-button {
    padding: 1vh 1vh;
    margin: auto;
    text-align: center;
    font-size: 3vh;

    -moz-box-shadow: 0px 0px 10px 10px #1d1d1d46;
    -webkit-box-shadow: 0px 0px 10px 10px #1d1d1d46;
    box-shadow: 0px 0px 10px 10px #1d1d1d46;
}

/** SCREEN >= 300PX **/
@media screen and (min-width: 300px) {
    
    
}

/** SCREEN >= 400PX **/
@media screen and (min-width: 390px) {
    
    #slide-show div.title {
        height: 16vw;
    }

    #slide-show div.title h2 {
        font-size: 10vw;
    }

    #slide-show div.title h3 {
        font-size: 10vw;
    }    

    section#contact-us div h2 {
        font-size: 7vh;
    }
}

/** SCREEN >= 700PX **/
@media screen and (min-width: 700px) {
    
    section#news {
        background: repeating-linear-gradient(
            45deg,
            rgb(0, 0, 0),
            rgb(0, 0, 0) 10px,
            #000000 10px,
            #000000 15px
        );
    }

    section#news h2 {
        margin: 2% 2%;
    }

    section#news article {
        margin: 1% 2%;
        display: inline-block;
        width: 45%;
    }

    section#blog {
        background: repeating-linear-gradient(
            45deg,
            rgb(0, 0, 0),
            rgb(0, 0, 0) 10px,
            #000000 10px,
            #000000 15px
        );
    }

    section#blog h2 {
        margin: 2% 2%;
    }

    section#blog article {
        margin: 1% 2%;
        display: inline-block;
        width: 45%;
    }

    section#welcome div#presentation {
        background-size: 30%;
    }


    section#contact-us div h2 {
        font-size: 9vh;
    }
}

/** SCREEN >= 1024PX **/
 @media screen and (min-width: 1024px) {
    
    #slide-show {
        height: 88vh;
    }    

    section#blog {
        height: 88vh;
        background-size: contain;
    }
}