main {
    padding: 2% 3%;
    background: repeating-linear-gradient(
        45deg,
        rgb(250, 250, 250),
        rgb(250, 250, 250) 5px,
        #ffffff 5px,
        #ffffff 10px
    );
    background-attachment: fixed;
}

#news {
    margin-bottom: 4%;
}

main,
#news article,
#news article a,
#news article figure {
    display: inline-block;
    width: 100%;
}

#news article figure {
    vertical-align: middle;
}

#news h1 {
    font-size: 9vw;
    font-weight: bold;
    font-style: italic;
    margin: 2% 0;
    text-align: center;
    color: rgb(35, 156, 162);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#news article {
    margin: 2% 0;
    background-color: white;
    border: 1px solid rgb(192, 192, 192);
}

#news article figure * {
    display: block;
    float: left;
    width: 50%;
}

#news article figure figcaption {
    font-size: 3.5vw;
    font-weight: bold;
    padding: 2%;
}

section a {
    color: black;
    text-decoration: none;
}

section a:hover {
    color: white;
    background-color: black;

}

/** BIGGER SCREEN **/
@media screen and (min-width: 700px) {
  
    main {
        background: repeating-linear-gradient(
            45deg,
            rgb(250, 250, 250),
            rgb(250, 250, 250) 10px,
            #ffffff 10px,
            #ffffff 15px
        );
        background-attachment: fixed;
    }

    #news h1 {
        font-size: 6vw;
        margin: 2% 2%;
    }

    #news article {
        margin: 1% 2%;
        display: inline-block;
        width: 45%;
        vertical-align: top;
    }

    #news article figure *{
        display: block;
        width: 100%;
        line-height: 120%;
    }

    #news article figure figcaption {
        font-size: 2vw;
    }
}